@use "sass:math";

// Specifies the antialiasing algorithm for font rendering.
// This is useful in different cases, depending on background color
// and font weight. Most often you'll want it antialiased, but certain
// background colors look better with fonts set to subpixel-antialiased.
@mixin font-smoothing($value: true) {
  @if $value {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin font-heading() {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
}

// Calculates the rem value of the provided unitelss pixel value input.
// This assumes 16px as a base, but the important thing is that that's
// not explicitly set anywhere.
@function calc-rem($value) {
  @return math.div($value, 16) * 1rem;
}
