// ⚠️ All heading, body text styles, and font-sizing settings are declared in the
// `styles/utility-classes/utils-typography.scss` file, alongside the typography
// utility classes.

@use "../helpers/helpers-typography" as *;

:root {
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  font-size: 100%;
  text-size-adjust: none;
}

body {
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: calc-rem(16);
  font-weight: var(--font-weight-regular);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p,
li {
  line-height: 1.4;
}

@media #{$large-up} {
  body {
    font-size: calc-rem(18);
  }
}
