@use "../../styles/helpers/helpers-animation" as *;

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity duration(var(--duration)) ease-in-out;
}

.enterDone,
.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity duration(var(--duration)) ease-in-out;
}
