:root {
  --duration-factor: 1;

  // ease curves
  --ease-in: cubic-bezier(0.51, 0, 0.9, 0.43);
  --ease-back-in: cubic-bezier(0.38, -0.37, 0.83, 0.23);
  --ease-out: cubic-bezier(0.35, 0.91, 0.3, 0.99);
  --ease-back-out: cubic-bezier(0.21, 0.12, 0.35, 1.43);
  --ease-in-out: cubic-bezier(0.75, 0, 0.21, 0.99);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

  // default in-view settings
  --in-view-delay: 0s;
  --in-view-stagger-delay: 0s;
  --in-view-stagger-amount: 0.2s;
}
