@use "@local/styles/helpers/helpers-a11y" as *;
@use "@local/styles/helpers/helpers-layout" as *;

.skipTo {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0;

  &:focus {
    height: auto;
    padding: space-by(1.5) space-by(2);
    width: auto;
  }
}
