@use "../helpers/helpers-typography" as *;

h1,
.title-1,
h2,
.title-2,
h3,
.title-3,
h4,
.title-4 {
  @include font-heading;

  line-height: 1.2;
}

h1,
.title-1 {
  font-size: calc-rem(30);
}

h2,
.title-2 {
  font-size: calc-rem(24);
}

h3,
.title-3 {
  font-size: calc-rem(20);
}

h4,
.title-4 {
  font-size: calc-rem(16);
}

.txt-body-larger {
  font-size: calc-rem(18);
}

.txt-body-smaller {
  font-size: calc-rem(12);
}

.txt-body-legal {
  font-size: calc-rem(10);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.txt-center {
  text-align: center;
}

.txt-nowrap {
  white-space: nowrap;
}

.txt-weight-normal {
  font-weight: var(--font-weight-regular);
}

.txt-weight-bold {
  font-weight: var(--font-weight-bold);
}

@media #{$large-up} {
  h1,
  .title-1 {
    font-size: calc-rem(54);
  }

  h2,
  .title-2 {
    font-size: calc-rem(38);
  }

  h3,
  .title-3 {
    font-size: calc-rem(30);
  }

  h4,
  .title-4 {
    font-size: calc-rem(24);
  }

  .txt-body-larger {
    font-size: calc-rem(22);
  }

  .txt-body-smaller {
    font-size: calc-rem(16);
    line-height: 1.3;
  }
}
