// Mixins/helpers specific to this file:
@use "@local/styles/helpers/helpers-a11y" as *;

// Global settings and variables
@import "@local/styles/settings/settings-animation";
@import "@local/styles/settings/settings-breakpoints";
@import "@local/styles/settings/settings-color";
@import "@local/styles/settings/settings-layout";
@import "@local/styles/settings/settings-reduced-motion";

// Global style declarations:
@import "@local/styles/base/resets.scss";
@import "@local/styles/base/layout.scss";
@import "@local/styles/base/typography.scss";

// Global utility classes:
@import "@local/styles/utility-classes/utils-a11y.scss";
@import "@local/styles/utility-classes/utils-breakpoints.scss";
@import "@local/styles/utility-classes/utils-color.scss";
@import "@local/styles/utility-classes/utils-image.scss";
@import "@local/styles/utility-classes/utils-in-view.scss";
@import "@local/styles/utility-classes/utils-layout.scss";
@import "@local/styles/utility-classes/utils-spacing.scss";
@import "@local/styles/utility-classes/utils-typography.scss";

*:focus {
  @include focus-style;

  outline: none;

  &:not(:focus-visible) {
    box-shadow: none;
  }
}

main {
  position: relative;
}
